<div class="container mb-5 py-5">
  <div class="row">
    <div class="col">
      <h6>※要望や改善点をお知らせください。</h6>
    </div>
  </div>
  <div class="d-flex justify-content-center my-3">
    <h5 class="style-title"><%= current_user.nickname %>　さんのお問い合わせ内容</h5>
  </div>
  <div class="correct-msg-box">
    <div class="error_explanation">
      <%= render "layouts/error_messages", obj: @contact %>
    </div>
    <div class="correct-msg-main">
      <div class="contact-form">
      <%= form_with(model: @contact, local: true) do |f| %>
        <div class="correct-text-field">
          <%= f.text_area :content, placeholder: "お問合せ内容を入力してください", class: "input-form", size: "40x10" %>
        </div>
        <div class="send-btn-contents">
          <div class="register-btn text-center">
            <%= f.button type: "submit", class: "btn text-white ml-2 mt-2 mb-5 w-25 public-contact-submit" do %>
              送信 <i class="fas fa-paper-plane"></i>
            <% end %>
          </div>
          <!--お問い合わせ履歴が無かったら表示させないが、あったら表示される-->
          <% if @contacts_num > 0 %>
          <div class="register-btn">
            <%= link_to "お問い合わせ一覧へ", contacts_path, class: "btn text-white w-25 public-contacts-btn" %>
          </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
