<%= render 'layouts/error_messages', obj: group %>
<%= form_with model: group, local: true do |f| %>

  <div class="form-group">
    <%= f.file_field :get_group_image, class: "form-control-file" , accept: "image/*" %>
  </div>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: "グループ名" %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: 'form-control', placeholder: "紹介文" %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>