<div class='container px-5 px-sm-0'>
 <div class="row d-flex align-items-center">
    <div class="col-4">
      グループ名
    </div>
    <div class="col-lg-5 text-left">
      紹介文
    </div>
    <div class="col-lg-2 text-left">
      参加人数
    </div>
    <div class="col-2"></div>
  </div>
  <% groups.each do |group| %>
  <br>
  <div class="row">
    <div class="col-lg-1">
      <%= image_tag group.get_image, size: '50x50' %>
    </div>
    <div class="col-lg-2 text-left">
      <%= link_to group.name, group, class: "group_#{group.id}" %>
    </div>
    <div class="col-lg-5 text-left"><%= group.body %></div>
    <div class="col text-center">
      <%= group.group_users.size %>
    </div>
    <div class="col-lg-1">
      <% if group.is_owned_by?(current_user) %>
        <%= link_to '編集', edit_group_path(group.id), class: "group_#{group.id} btn btn-sm btn-success" %>
      <% elsif group.includesUser?(current_user) %>
        <%= link_to  '入室',%>
      <% else %>
        <%= link_to "加入", group_join_path(group.id, current_user.id), class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
  <br>
  <% end %>
</div>