<div class='container px-5 px-sm-0'>
  <div class='row my-5'>
    <div class='col-md-3 mb-5'>
      <div class="row">
        <h2 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">ユーザー情報</h2>
      </div>
      <%= render 'public/users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <div class="row">
        <h2 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;"><%= @group.name %> の詳細</h2>
      </div>
      <div class="row">
        <div class="col text-right">
          <%= link_to "グループ一覧に戻る", groups_path, class: "btn btn-warning text-white", style: "background-color: #B85C0D;"%>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-lg-6">
          <%= image_tag @group.get_image, size: '200x150' %>
        </div>
        <div class="col-lg-5 text-left flex-colmum">
          <p>紹介文</p>
          <h6><%= @group.body %></h6>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <h6 style="display: inline-block; border-bottom: 2px solid #F07C81; color: #000000;">グループリーダー</h6>
        </div>
        <div class="col-lg-6 text-left">
          <%= link_to @group.user.nickname, user_path(@user.id), class: "custom-link-style" %>
        </div>
      </div>
      <div class="row my-3">
        <div class="col text-right">
          <h6 style="display: inline-block; border-bottom: 2px solid #F07C81; color: #000000;">メンバー</h6>
        </div>
        <div class="col-lg-6 text-left">
          <% @group.users.each do |member| %>
            <%= link_to member.nickname, user_path(member.id), class: "custom-link-style" %><br>
          <% end %>
        </div>
      </div>
      <div class="row my-5">
        <div class="col text-right">
          <% if @group.is_owned_by?(current_user) %>
            <%= link_to '編集', edit_group_path(@group), class: "btn btn-sm btn-success w-25" %>
          <% elsif @group.includesUser?(current_user) %>
            <%= link_to "脱退", leave_group_path(@group), method: :delete, class: "btn btn-sm btn-danger w-25", data: {confirm: "本当に脱退しますか？" }, remote: true %>
          <% else %>
            <%= link_to "加入", group_join_path(@group), class: "btn btn-sm btn-success w-25" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>