<%= form_with model: group, local: true do |f| %>
  <div class="form-group">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :グループ画像 %>
    <%= f.file_field :group_image, class: "form-control-file" , accept: "image/*" %>
  </div>
  <div>
    <h5>参加人数</h5>
  </div>
  <div>
    <h5><% group.user(user_id) %>人</h5>
  </div>
  <div>
    <% @group.users.each do |member| %>
      <%= member.name %><br>
    <% end %>
  </div>
  <div>
    <% if @group.owner_id == current_user.id %>
      <%= link_to 'Edit', edit_group_path(@group), class: "btn btn-sm btn-success" %>
    <% elsif @group.users.include?(current_user) %>
      <%= link_to 'Leave this group', leave_user_group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
    <% else %>
      <%= link_to 'Join this group', user_group_join_path(user_id: @user.id, group_id: @group.id), class: "btn btn-sm btn-success" %>
    <% end %>
  </div>
