<!--管理者側が登録したタグがすべて表示される-->
<div calss="row my-3">
  <h5 style="font-size: 24px; font-weight: bold;">タグ</h5>
</div>

<% tags.each do |tag| %>
<div class="row my-2">
 <%= link_to tag.title, labos_tag_path(tag.id), class: "labo-tag-title" %>
</div>
<% end %>


<!--ログインユーザーならば投稿フォームが表示-->
<%= render 'layouts/error_messages', obj: @labo %>
<% if current_user && current_user.user_status == "有効" %>
  <div class="row my-3">
    <h5 class="labo-tag-style">投稿フォーム</h5>
  </div>

  <%= form_with model: labo, local: true do |f| %>
  <div class="row">
    <div class="col">
    <%= f.collection_check_boxes(:tag_ids, tags, :id, :title) do |b| %>
      <div class="row">
        <%= b.label { b.check_box + b.text } %>
      </div>
    <% end %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-8">
      <%= f.text_area :body, class: 'form-control title', placeholder: "投稿文" %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col text-center">
    <%= f.submit "変更を保存", class: "btn text-white mb-,2 mx-5 labo-tag-submit" %>
    </div>
  </div>
  <% end %>
<% end %>
