<!--探究室-->
<div class="container-fluid my-4">
  <div class="row mx-3">
    <h5 class="labo-style-title">探究室の扉</h5>
  </div>
  <div class="row">
    ※タグはクリックできます
  </div>

  <!--非ログインには表示させない-->
  <div class="row my-2 mx-3">
    <% if current_user && current_user.user_status == "有効" %>
    <h6 class="labo-admin-promise">※管理者とのお約束事項として、悪質であったり、不適切なコメントは削除させていただきます</h6>
    <% end %>
  </div>

  <!--探究室のタグ選択・ログイン会員のみ投稿フォーム　-->
  <div class="row mx-3">
    <div class="col-4 text-left">
      <%= render 'public/labos/labo', tags: @tags, labo: @labo %>
    </div>

    <!--探究室投稿一覧-->

    <div class="col mx-3 offset mb-5">
      <div class="row">
        <div class="col text-right">
          ※投稿内容をクリックできます
        </div>
      </div>

      <% @labos.each do |labo| %>
        <div class="row d-flex align-items-center custom-background">
          <% labo.tags.each do |tag| %>
          <div class="col-2 mr-2 text-left now-nowrap">
             ・<%= tag.title %>
          </div>
          <% end %>
        </div>

        <div class="row d-flex align-items-center justify-content-centerborder border border-danger">
          <div class="col">
            <div class="row my-2">
              <div class="col my-2 text-left d-flex align-items-center">
               <%= link_to labo.body, labo_path(labo.id), class: "style-color" %>
              </div>
              <div class="col-lg-2 col-sm-1 mt-2 text-right flex-column">
                <%= image_tag labo.user.get_profile_image, class: "rounded-circle labo-user-img" %>
                <div class="flex-column mr-3">
                  <!--ログインユーザーならば会員の詳細画面に遷移する-->
                  <% if current_user && current_user.user_status == "有効" %>
                    <%= link_to user_path(labo.user.id), class: "style-color" do %>
                    <%= labo.user.nickname %>
                    <% end %>
                  <% else %>
                  <!--非ログインならば名前がリンクにならない-->
                    <%= labo.user.nickname %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




