<h5>探究室の扉</h5>
<% if @user && @user.user_status == "有効" %>
<h6>管理者とのお約束事項として、悪質であったり、不適切なコメントは削除させていただきます</h6>
<% end %>

<%= render 'public/labos/labo', tags: @tags, labo: @labo, user: @user %>
  <h5><%= tag.title %></h5>
    <% @labo_comment.each do |labo_comment| %>
    <h5><%= @tag.title %></h5>
        <%= image_tag labo_comment.user.get_profile_image %>
        <!--ログインユーザーならば会員の詳細画面に遷移する-->
        <% if @user.user_status == "有効" %>
        <%= link_to @user.nickname, user_path(@user.id), class: "user_#{user.id}" %>
        <% else%>
        <!--非ログインならば名前がリンクにならない-->
        <%= labo_comment.user.nickname %>
        <% end %>
        <%= link_to labo_comment.body, labo_path(labo_comment.labo.id), class: "labo_comment_#{labo_comment.id}" %>
    <% end %>
<%= paginate @labo_comments %>