<!--探究室の詳細-->
<%= image_tag @labo.user.get_profile_image %>
<!--ログインユーザーならば会員の詳細画面に遷移する-->
<% if current_user && current_user.user_status == "有効" %>
  <%= link_to @labo.user.nickname, user_path( @labo.user) %>
<% else%>
<!--非ログインならば名前がリンクにならない-->
  <%= @labo.user.nickname %>
<% end %>
<%= link_to @labo.body, labo_path(@labo) %>

<% if @labo.user == current_user %>
  <%= link_to "削除", labo_path(@labo), method: :delete, "date-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger', remote: true%>
<% end %>

<%= form_with model: [@labo, @labo_comment] do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: 'form-control', cols: "50", id: "comment_textarea" %>
  <p>※&emsp;犯罪に巻き込まれるような投稿はお控えください。</p>
  <h6 class="text-danger">※不適切な投稿は予告なく削除されます。<br>ご理解ください。</h6>
  <%= f.submit "送信", class: "btn btn-success" %>
<% end %>

<!--探究室の投稿コメントが表示される-->
<% @labo.labo_comments.each do |labo_comment| %>
  <% if current_user && current_user.user_status == "有効" %>
    <%= link_to user_path(labo_comment.user) do %>
      <%= image_tag labo_comment.user.get_profile_image, class: "rounded-circle", size: "100x100"%>
      <%= labo_comment.user.nickname %>
    <% end %>
  <% else%>
  <!--非ログインならば名前がリンクにならない-->
    <%= image_tag labo_comment.user.get_profile_image, class: "rounded-circle", size: "100x100"%>
    <%= labo.user.nickname %>
  <% end %>
  <%= labo_comment.comment %>
  <% if labo_comment.user == current_user %>
    <%= link_to "削除", labo_labo_comment_path(@labo.id, labo_comment.id), method: :delete, class: "btn btn-danger pull-right", remote: true, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
<% end %>
