<!--探究室の詳細-->
<div class="container my-4">
  <div class="row mb-3">
    <h5 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;"><%= @labo.user.nickname %> さんの探究室投稿</h5>
  </div>

  <div class="row">
    <div class="col text-left flex-colmum">
      <%= image_tag @labo.user.get_profile_image, class: "rounded-circle", size: "90x90" %>
        <div class="flex-colmum ml-3">
        <!--ログインユーザーならば会員の詳細画面に遷移する-->
        <% if current_user && current_user.user_status == "有効" %>
          <%= link_to @labo.user.nickname, user_path( @labo.user) %>
        <% else%>
        <!--非ログインならば名前がリンクにならない-->
          <%= @labo.user.nickname %>
        <% end %>
      </div>
    </div>
    <div class="col mt-2 text-left d-flex align-items-conter">
      <%= @labo.body %>
    </div>
    <div class="col text-right">
      <% if @labo.user == current_user %>
        <%= link_to "削除", labo_path(@labo), method: :delete, "date-confirm" => "本当に削除しますか？", class: 'btn btn-sm btn-danger w-25', remote: true %>
      <% end %>
    </div>
  </div>


  <% if current_user && current_user.user_status == "有効" %>
    <%= form_with model: [@labo, @labo_comment] do |f| %>
    <div class="row my-4">
      <div class="col-8 align-self-end">
        <div class="form-group text-center">
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: 'form-control', cols: "50", id: "comment_textarea" %>
        </div>
      </div>
      <div class="col-2 mb-3 align-self-end">
        <%= f.submit "送信", class: "btn btn-warning text-light", style: "background-color: #762C23;" %>
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="col text-left mb-1">
        <h6 class="text-danger">※犯罪に巻き込まれるような投稿はお控えください。</h6>
        <h6 class="text-danger">※不適切な投稿は予告なく削除されます。理解ください。</h6>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col text-right">
      <%= link_to "探究室一覧へ戻る", labos_path, class: "btn btn-warning", style: "background-color: #F5765F;" %>
    </div>
  </div>

<!--回答者がいなかったらの条件分岐-->
<% if @labo.labo_comments.exists? %>
  <div class="row mt-3 custom-background">
    <div class="col-2"></div>
    <div class="col text-left mt-3">
      <h5>回答コメント</h5>
    </div>
    <div class="col-1 mt-3">
      <h5>回答者</h5>
    </div>
  </div>

  <!--探究室の投稿コメントが表示される-->
  <% @labo.labo_comments.each do |labo_comment| %>
  <div class="row mb-3 d-flex align-items-center justify-content-centerborder border border-danger">
    <div class="col">
      <div class="row">
        <div class="col-2 text-left align-self-center mt-2">
        <% if labo_comment.user == current_user %>
          <%= link_to "削除", labo_labo_comment_path(@labo.id, labo_comment.id), method: :delete, class: "btn btn-danger pull-right", remote: true, data: { confirm: "本当に削除しますか？" } %>
        <% end %>
        </div>
        <div class="col text-left align-self-center mt-2">
          <%= labo_comment.comment %>
        </div>
        <div class="col-2 mb-4 text-right align-self-center mt-4 flex-colmum">
          <%= image_tag labo_comment.user.get_profile_image, class: "rounded-circle", size: "50x50"%>
          <div class="flex-colmum" style="color: #000000;" >
            <% if current_user && current_user.user_status == "有効" %>
              <%= link_to user_path(labo_comment.user) do %>
                <%= labo_comment.user.nickname %>
              <% end %>
            <% else%>
            <!--非ログインならば名前がリンクにならない-->
              <%= @labo.user.nickname %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="row my-5">
    <div class="col" style="solid #F07C81; color: #000000;">
      <h5>まだ <b><%= @labo.user.nickname %></b>さんの質問に誰も回答されていません。</h5>
    </div>
  </div>
<% end %>
</div>