<h5>会員ID:<%= @user.id %>&copy;&copy;<%= @user.nickname%>&copy;さんの探究室投稿内容</h5>

<%= image_tag @user.get_profile_image %>
<%= @user.nickname %>

<%= @tag.body %>
<%= @labo_comment(@user.id) %>
<% labo.labo_comments.each do |labo_comment| %>
  <%= link_to admin_user_path(labo_comment.user) do %>
  <%= labo_comment.@user.nickname %>
  <%= image_tag labo_comment.@user.get_profile_image, class: "rounded-circle", size: "50x50"%>
  <% end %>
<% end %>