<!--ユーザー検索-->
<% if @model == 'User' %>
	<h3>Users search for "<%= @user %>"</h3>
  <%= render 'users/index', users: @records %>
  <!--音楽探究室検索タイトル-->
<% elsif @model == 'music_post' %>
	<h3>Music_Posts search for "<%= @user %>"</h3>
  <%= render 'music_posts/index', music_posts: @records %>
  <!--グループ名検索-->
<% else @model == 'groups' %>
	<h3>Groups search for "<%= @user %>"</h3>
  <%= render 'groups/index', music_posts: @records %>
<% end %>