<div class="container my-4">
  <div class="row text-left ml-1">
    <div class="flex-colmum">
      <h5 style="display: inline-block; border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">タグ一覧</h5>
    <div class="custom-background mt-3">
       <h5>現在のタグ一覧</h5>
      <p class="mt-1" style="color: #744199; margin: 0; padding: 0;">※タグを押すと編集できるようになります。</p>
    </div>
      <% @tags.each do |tag| %>
        <div class="custom-table-striped border border-danger">
          <button class="tag tag-form-<%= tag.id %>" id="<%= tag.id %>"　style="display:block;">
            <%= tag.title%>
          </button>
        </div>
      <% end %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col offset-4">
        <h5 class="text-black" style="text-decoration: underline; text-decoration-color: #795548; font-size: 24px; font-weight: bold;">新しくタグを作成する</h5>
        <%= render "layouts/error_messages", obj: @tag %>
        <%= form_with model: @tag, url: admin_tags_path, local: true do |f| %>
          <div class="form-group">
            <%= f.text_field :title, placeholder: "タグ名入力", class: "mb-2 mx-8 form-control w-50" %>
          </div>
          <div class="form-group">
            <div class="row offset-4">
              <%= f.submit "タグ登録", class: 'btn btn-info mb-2' %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div id="form-tag-edit-container" class="form-container" style="display: none;">
        <div class="row">
          <div class="col offset-4">
            <h5 class="text-black" style="text-decoration: underline; text-decoration-color: #795548; font-size: 24px; font-weight: bold;">タグ編集</h5>
            <% @tags.each do |tag| %>
              <div class="form-<%= tag.id %>" style="display: none;">
                <%= form_with(model: tag, url: admin_tag_path(tag), method: :patch, local: true) do |f| %>
                  <%= f.text_field :title, placeholder: "タグ名", class: "mb-2 mx-8 form-control  w-50" %>
                  <div class="row offset-4">
                    <%= f.submit "変更を保存", class: "btn btn-success mb-2" %>
                  </div>
                <% end %>
                  <div class="row offset-4">
                    <%= link_to "タグを削除", admin_tag_path(tag.id), method: :delete, data: { confirm: "本当に削除しますか？"} , class: "btn btn-danger text-nowrap" %>
                  </div>
              </div>
            <% end %>
          </div>
         </div>
      </div>
    </div>
  </div>
</div><!--container end-->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var tagTitles = document.querySelectorAll(".tag");
    tagTitles.forEach(function(tagTitle){
      tagTitle.addEventListener("click", function() {
        var tagId = tagTitle.id
        var tagForm = document.querySelector('.form-' + tagId);
        var tagFormContainer = document.querySelector('#form-tag-edit-container');

        if (tagForm.style.display === "none") {
          tagForm.style.display = "block";
          tagFormContainer.style.display = "block";
        } else {
          tagForm.style.display = "none";
          tagFormContainer.style.display = "none";
        }

      })
    })
  });
</script>