<h5>タグ一覧</h5>

<h5>現在のタグ一覧</h5>
<% @tags.each do |tag| %>
  <div class="d-flex justify-content-center">
    <button class="tag tag-form-<%= tag.id %>" id="<%= tag.id %>"　style="display:block;">
      <%= tag.title %>
    </button>
  </div>
<% end %>


<h5>新しくタグを作成する</h5>
<%= render "layouts/error_messages", obj: @tag %>
<%= form_with model: @tag, url: admin_tags_path, local: true do |f| %>
<div class="form-group">
  <%= f.text_field :title, class: 'form-control', placeholder: "タグ名入力" %>
</div>
<div class="form-group">
  <%= f.submit "タグ登録", class: 'btn btn-info' %>
</div>
<% end %>
</div>
<div id="form-tag-edit-container" class="form-container" style="display: none;">
  <h5>タグ編集</h5>
  <div>
    <% @tags.each do |tag| %>
      <div class="form-<%= tag.id %>" style="display: none;">
        <%= form_with(model: tag, url: admin_tag_path(tag), method: :patch, local: true) do |f| %>
          <%= f.text_field :title, placeholder: "タグ名" %>
          <%= f.submit "変更を保存", class: "btn btn-success" %>
        <% end %>
        <%= link_to "タグを削除", admin_tag_path(tag.id), method: :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var tagTitles = document.querySelectorAll(".tag");
    tagTitles.forEach(function(tagTitle){
      tagTitle.addEventListener("click", function() {
        var tagId = tagTitle.id
        var tagForm = document.querySelector('.form-' + tagId);
        var tagFormContainer = document.querySelector('#form-tag-edit-container');

        if (tagForm.style.display === "none") {
          tagForm.style.display = "block";
          tagFormContainer.style.display = "block";
        } else {
          tagForm.style.display = "none";
          tagFormContainer.style.display = "none";
        }

      })
    })
  });
</script>