<!--会員の投稿詳細画面-->
<div class="container">
  <div class="row">
    <div class="col text-left">
      <h5 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;"><%= @user.nickname %>さんの投稿詳細一覧</h5>
    </div>
  </div>

  <!--音楽共有投稿-->
  <% if @music_posts.any? %>
    <div class="row my-2">
      <h5 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">音楽共有投稿</h5>
    </div>

    <div class="row custom-background">
      <div class="col-3">
        <h5>タイトル</h5>
      </div>
      <div class="col text-left mr-2">
        <h5>投稿文</h5>
      </div>
      <div class="col-2 text-left mr-2">
        <h5>投稿日時</h5>
      </div>
      <div class="col-2 text-left mr-2"></div>
    </div>

    <% @music_posts.each do |music_post| %>
    <div class="row custom-table-striped border border-danger">
      <div class="col-3 text-center mt-2">
        <%= link_to music_post.title, admin_music_post_path(music_post.id) %>
      </div>
      <div class="col text-left mt-2">
        <h5><%= music_post.body %></h5>
      </div>
      <div class="col-2 mt-2 text-left mr-2">
        <h5><%= music_post.created_at.strftime('%Y/%m/%d') %></h5>
      </div>
      <div class="col-2 mt-2 text-left mr-2">
        <h5><%= link_to "投稿を削除", admin_music_post_path(music_post.id), method: :delete, class: "btn btn-danger" %></h5>
      </div>
    </div>
      <% end %>
  <% end %>

  <!--探究室投稿-->
  <% if @labos.any? %>
    <div class="row mt-3 text-lift">
      <div class="col-7">
        <h5 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">探究室投稿</h5>
      </div>
    </div>

    <div class="row custom-background">
      <div class="col-3">
        <h5>タグ</h5>
      </div>
      <div class="col text-left mr-2">
        <h5>本文</h5>
      </div>
      <div class="col-2 text-left mr-2">
        <h5>投稿日時</h5>
      </div>
      <div class="col-2 text-left mr-2"></div>
    </div>

    <% @labos.each do |labo| %>
    <div class="row custom-table-striped border border-danger">
      <div class="col-3 text-center mt-2">
      <%#= f.check_box :body %>
      <% labo.tags.each do |tag| %>
        <%= tag.title %>
      <% end %>
      </div>
      <div class="col text-left mt-2">
        <h5><%= labo.body %></h5>
      </div>
      <div class="col-2 mt-2 text-left mr-2">
        <h5><%= link_to labo.created_at.strftime('%Y/%m/%d'), admin_labo_path(labo.id) %></h5>
      </div>
      <div class="col-2 mt-2 text-left mr-2">
        <%= link_to "投稿を削除", admin_labo_path(labo.id), method: :delete, class: "btn btn-danger", remote: true %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>


  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
  <!--<script>-->
  <!--$(document).ready(function(){-->
    <!--// 探究室のボタンをクリックしたときの処理-->
  <!--  $(".toggle-forml").click(function(){-->
  <!--    $('.explore-room').next('.explore-room-content')toggle();-->
  <!--  });-->
    <!--// 音楽共有投稿のボタンをクリックしたときの処理-->
  <!--  $(".toggle-form2").click(function(){-->
  <!--    $("#nusic-share").toggle();-->
  <!--  });-->
  <!--});;-->
  <!--  // document.addEventListener("DOMContentLoaded", function() {-->
  <!--  //   var tagTitles = document.querySelectorAll(".tag");-->
  <!--  //   tagTitles.forEach(function(tagTitle){-->
  <!--  //     tagTitle.addEventListener("click", function() {-->
  <!--  //       var tagId = tagTitle.id-->
  <!--  //       var tagForm = document.querySelector('.form-' + tagId);-->
  <!--  //       var tagFormContainer = document.querySelector('#form-tag-edit-container');-->

  <!--  //       if (tagForm.style.display === "none") {-->
  <!--  //         tagForm.style.display = "block";-->
  <!--  //         tagFormContainer.style.display = "block";-->
  <!--  //       } else {-->
  <!--  //         tagForm.style.display = "none";-->
  <!--  //         tagFormContainer.style.display = "none";-->
  <!--  //       }-->
  <!--  //     })-->
  <!--  //   })-->
  <!--  // });-->
  <!--</script>-->