<div class='table table-hover table-inverse'>
  <% music_posts.each do |music_post| %>
    <div>
      <!-- ユーザーのプロフィール画像 -->
      <%= link_to user_path(music_post.user) do %>
        <%= image_tag music_post.user.get_profile_image, size:'50x50' %>
        <!--ニックネーム-->
        <%= music_post.user.nickname %>
      <% end %>
    </div>

    <!--投稿タイトル-->
    <div>
      <%= link_to music_post.title, music_post_path(music_post), class: "music_post_#{music_post.id}" %>
    </div>

    <!-- 音楽共有投稿の本文 -->
    <div>
      <%= music_post.body %>
    </div>
    <!--画像を選択しないと表示されない-->
    <% if music_post.image.attached? %>
      <%= image_tag music_post.image %>
    <% end %>
  <% end %>
</div>
