<% music_posts.each do |music_post| %>
<div class="my-4 custom-table-striped shadow-lg p-3">
  <div class="row">
    <div class="col">
      <div class="d-flex flex-row-reverse">
        <!-- お気に入りボタン -->
        <div id="favorite_btn_<%= music_post.id %>">
          <%= render partial: 'public/favorites/btn', locals: { current_user: current_user, music_post: music_post } %>
        </div>
        <div class="col-2 text-right">
          <!--コメント数を表示-->
          <div id="comment_counter">
            <%= render partial: "public/music_post_comments/counter", locals: { music_post: music_post } %>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row mt-2">
        <h5><%= link_to music_post.title, music_post_path(music_post.id), style: "color: black;" %></h5>
      </div>
      <hr/>
      <!-- 音楽共有投稿の本文 -->
      <div class="d-flex flex-row">
        <%= music_post.body %>
      </div>
      <hr/>
      <div class="d-flex flex-row-reverse my-2">
        <%= link_to user_path(music_post.user) do %>
          <!-- ニックネーム -->
          <h6 class="text-right"><i class="fa-solid fa-circle-user" style="color: black;"></i><span style="color: black;"> <%= music_post.user.nickname %></span></h6>
        <% end %>
      </div>
      <div class="col">
        <div class="row">
          <div class="col text-center">
            <!--画像-->
            <%= image_tag music_post.get_music_post_image, size: '150x150', class: "shadow-sm" %>
          </div>
          <div class="col mt-auto text-right">
            <small class="text-muted"><%= music_post.created_at.strftime('%Y/%m/%d %H:%M') %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
