<div class='container px-5 px-sm-0'>
  <%= render 'layouts/error_messages', model: @music_post %>
  <div class='row'>
    <div class='col-md-3'>
      <h4>会員情報</h4>
      <%= render 'public/users/info', user: current_user %>
      <h4 class="mt-3">新規投稿</h4>
      <%= render 'public/music_posts/form', music_post: @music_post %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <% @music_posts.each do |post| %>
        <% user = post.user %>
        <div>
          <!--プロフィール画像-->
          <%= image_tag user.profile_image.variant(resize: "50x50"), class: "rounded-circle" if user.profile_image.attached? %>
          <!--ニックネーム-->
          <%= link_to post.user.nickname, user_path(post.user) %>
        </div>
        <div>
          <!--投稿タイトル-->
          <h4><%= link_to post.title, user_music_post_path(post.user, post), class: "music_post_#{post.id}" %></h4>
          <!--投稿内容-->
          <p><%= post.body %></p>
          <div id="favorite_btn_<%= book.id %>">
            <%= render "public/favorites/btn", music_post: @music_post %>
          </div>
          <!--画像を選択しないと表示されない-->
          <% if post.image.attached? %>
            <%= image_tag post.image %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
