<div class='container px-5 px-sm-0 pb-5'>
  <div class='row mt-4'>
    <div class='col-md-3 col-lg-3'>
      <h4>会員情報</h4>
      <%= render 'public/users/info', user: current_user %>
      <h4 class="mt-3">新規投稿</h4>
      <!--登録をした際には遷移せず新規投稿したshowに遷移する-->
      <%= render 'form', { music_post: @new_music_post, change_redirect_path: true} %>
    </div>

    <div class='col offset-1'>
      <div class="row mt-5 ">
        <!--投稿タイトル表示-->
        <div class="col-6 text-left ml-4 style-color">
          <h5><%= @music_post.title %></h5>
        </div>
        <div class="col-2 text-right">
          <!--お気に入りボタン表示-->
          <div id="favorite_btn_<%= @music_post.id %>">
            <%= render partial: 'public/favorites/btn', locals: { current_user: current_user, music_post: @music_post } %>
          </div>
        </div>
        <div class="col-3">
          <!--コメント数を表示-->
          <div id="comment_counter">
            <%= render partial: "public/music_post_comments/counter", locals: { music_post: @music_post } %>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col text-left ml-4">
        <!--音楽共有の投稿内容表示-->
          <div class="music_post-index-body">
           <%= @music_post.body %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          <!-- 投稿日時 -->
          <%= @music_post.created_at.strftime('%Y/%m/%d %H:%M') %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 text-right">
          <!--画像-->
          <%= image_tag @music_post.get_music_post_image, size:'300x300', class: "shadow-lg p-1 mb-5 bg-white rounded" %>
        </div>
        <div class="col-lg-6 d-flex flex-column">

           <!--プロフィール画像とニックネーム表示-->
          <div class="row mt-5">
            <div class="col text-center">
              <div class="flex-calmum">
                <%= link_to(@music_post.user) do %>
                  <%= image_tag @music_post.user.get_profile_image, class: "rounded-circle", size: "100x80" %>
                <div class="flex-calmum style-color">
                  <%= @music_post.user.nickname %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <!--AIの画像認識用のタグ表示-->
          <!--<#% @music_post.ai_tags.each do |ai_tag| %>-->
          <!--  <span class="label"><%#= ai_tag.name %></span>-->
          <!--<%# end %>-->
          <div class="row mt-auto">
            <!--音楽共有の投稿者-->
            <% if @music_post.user == current_user %>
            <div class="col-lg-3 mx-3 my-1">
              <%= link_to '編集', edit_music_post_path(@music_post.id), class: "btn btn-sm btn-success music_post-index-btn-size" %>
            </div>
            <div class="col-lg-3 mx-3 my-1">
              <%= link_to '削除', @music_post, method: :delete, class: "btn btn-sm btn-danger", data: { confirm: '本当に消しますか？' }, remote: true %>
            </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row my-5 ml-5">
        <div class="col">
          <!--投稿に関するコメント入力欄-->
          <%= render "public/music_post_comments/form", music_post: @music_post, music_post_comment: @music_post_comment %>
        </div>
      </div>
      <br><br>
      <div class="mb-4 justify-content-center">
        <div class="col" id="comment_index">
          <!--投稿にコメントを表示させる-->
          <%= render "public/music_post_comments/index", music_post: @music_post %>
        </div>
      </div>
    </div><!--col-md-8 offset-md-1 end-->
  </div><!--row end-->
</div><!--container end-->
