<!--選択されたタグに紐づいた投稿詳細-->
  <h5><%= @tag.title %></h5>
    <% @labos.each do |labo| %>
      <%= image_tag labo.user.get_profile_image, class: "rounded-circle", size:'50x50'%>
      <!--ログインユーザーならば会員の詳細画面に遷移する-->
      <% if current_user && current_user.user_status == "有効" %>
      <%= link_to labo.user.nickname, user_path(labo.user.id) %>
      <% else%>
      <!--非ログインならば名前がリンクにならない-->
      <%= labo.user.nickname %>
      <% end %>
      <%= link_to labo.body, labo_path(labo.id) %>
    <% end %>
