<div class="container my-4 pb-5">
  <div class="row">
    <h5 class="style-title"><%= @group.name %>　の詳細内容</h5>
  </div>
  <div class="row">
    <div class="col text-left my-3">
      <%= image_tag @group.get_image, size: "200x150", class: "custom-border" %>
    </div>
    <div class="col-6 my-2 text-left border custom-border rounded group-background">
      グループ紹介内容
      <div>
        <%= @group.body %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right ml-2">
      <div class="group-nickname">グループリーダー</div>
    </div>
    <div class="col d-flex align-items-center border rounded-pill group-background">
      <h5><%= link_to @group.user.nickname, admin_user_path(@user.id), class: "style-color" %></h5>
    </div>
  </div>
  <div class="row my-3">
    <div class="col text-right ml-2">
      <div class="group-nickname">グループ参加メンバー</div>
    </div>
    <div class="col d-flex align-items-center border custom-border rounded-pill group-background">
      <% @users.each do |user| %>
      <h5><%= link_to user.nickname, admin_user_path(user.id), class: "style-color" %></h5>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col text-left mt-5">
      <%= link_to "グループを強制解除する", admin_group_path(@group.id), method: :delete, class: "btn btn-danger text-nowrap", data: {confirm: "本当に削除しますか？" }, remote: true %>
    </div>
    <div class="col text-right mt-5">
      <%= link_to "グループ一覧に戻る", admin_groups_path, class: "btn text-white group-btn" %>
    </div>
  </div>
</div>