<h5><%= @user.nickname %>さんの会員情報編集</h5>
<h5><%= image_tag @user.get_profile_image %></h5>

<div>
   <%= link_to "投稿の詳細", admin_user_comments_path(@user.id), class: "btn btn-warning" %>
 </div>
  <%= form_with(model: @user, url: admin_user_path(@user), local: true) do |f| %>
<h5>会員ＩＤ</h5>

<h5><%= @user.id %></h5>

<h5>ニックネーム</h5>
<h5><%= @user.nickname %></h5>

<h5>生年月日</h5>
<h5><%= @user.birthdate %></h5>

<h5>性別</h5>
<h5><%= @user.gender %></h5>

<h5>メールアドレス</h5>
<h5><%= @user.email %></h5>
        <div class="form-group">
          <h5>自己紹介文</h5>
          <%= f.text_area :introduction, class: "form-control introduction", class: "mb-2 mx-5" %>
          <%= link_to "コメントを削除", @user, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger destrou_user_#{@user.id}", style: "width: 100@x;" %>
        </div>

        <div class="form-group">
          <%= f.submit "変更を保存", class: "btn btn-outline-secondary mb-,2 mx-5" %>
        </div>
        <% end %>
      <% if @user.nikos.present? %>
      <h2>My二胡の情報編集</h2>
      <% @user.nikos.each do |niko| %>
        <h4>・名前 <%= niko.name %></h4>
        <h4>・<%= niko.tree_type %></h4>
        <h4>特徴<%= niko.feature %></h4>
      <% end %>
      <% end %>