<div class="container">
  <div class="row">
    <h5 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;"><%= @user.nickname %>さんの会員情報編集</h5>
  </div>

  <div class="row text-left my-3 ml-3">
    <%= image_tag @user.get_profile_image, size: "200x150", class: "custom-border" %>
    <div class="col offset-3">
      <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
      <div class="row my-3">
        <div class="col-3">
          <%= link_to "詳細へ戻る", admin_user_path(@user.id), class: "btn btn-warning", style: "background-color: #E88A3A;" %>
        </div>
        <div class="col text-right">
         <%= link_to "投稿の詳細", admin_user_comments_path(@user.id), class: "btn btn-warning", style: "background-color: #F5765F;" %>
       </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <h5>会員ＩＤ</h5>
        </div>
        <div class="col">
          <h5><%= @user.id %></h5>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <h5>ニックネーム</h5>
        </div>
        <div class="col">
          <h5><%= @user.nickname %></h5>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <h5>生年月日</h5>
        </div>
        <div class="col">
          <h5><%= @user.birthdate %></h5>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <h5>性別</h5>
        </div>
        <div class="col">
          <h5><%= @user.gender_i18n %></h5>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <h5>メールアドレス</h5>
        </div>
        <div class="col">
          <h5><%= @user.email %></h5>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <h5>自己紹介文</h5>
        </div>
      </div>

      <div class="row my-2">
        <div class="col">
          <%= f.text_area :introduction, class: "form-control introduction mb-2" %>
        </div>
      </div>

      <div class="row my-2">
       <div class="col text-right">
         <%= link_to "コメント削除", admin_user_path(@user), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger"%>
       </div>
      </div>

      <div class="row my-3">
        <div class="col">
          <h5>会員ステータス</h5>
        </div>
        <div class="col">
          <%= f.radio_button :is_active, true, id: "active_true" %>
          <%= f.label :is_active, "有効", for: "active_true" %>
          <%= f.radio_button :is_active, false, id: "active_false" %>
          <%= f.label :is_active, "退会", for: "active_false" %>
        </div>
      </div>

      <div class="row my-2">
        <div class="col text-right">
          <%= f.submit "変更を保存", class: "btn btn-outline-secondary mb-2 mx-5" %>
        </div>
      </div>
      <% end %>

      <% if @user.nikos.present? %>
      <div class="row">
        <div class="col">
          <h5 style="font-size: 24px; font-weight: bold;">
            <span class="bg-highlight">My二胡の情報編集</span>
          </h5>
        </div>
      </div>

      <% @user.nikos.each do |niko| %>
        <div class="custom-table-striped border border-danger">
          <div class="row mb-2 ml-2">
            <div class="col-3">
              名前
            </div>
            <div class="col">
              <h5><%= niko.name %></h5>
            </div>
          </div>

          <div class="row my-2 ml-2">
            <div class="col-3" style="white-space: nowrap;">
              使われた木材
            </div>
            <div class="col">
              <h5><%= niko.tree_type_i18n %></h5>
            </div>
          </div>

          <div class="row my-2 ml-2">
            <div class="col-3">
              特徴
            </div>
            <div class="col">
              <%= niko.feature %>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
