<div class='container-fluid my-4'>
  <div class="row mt-3 d-flex justify-content-center"><!-- 画面中央に寄せるクラスを追加 -->
    <div class="col-12 col-md-8 col-lg-5 mx-auto px-0"><!-- 中央寄せのためにmx-autoクラスを追加 -->
      <div class="col-12"><!-- タイトル用の列を追加 -->
        <h2 class="text-black text-left" style="text-decoration: underline; text-decoration-color: #CD0000;">ログイン</h2>
        <h6 class="text-black text-left p-2" style="text-decoration: underline; text-decoration-color: #CD0000;">会員の方はこちらからログインしてください</h6>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn  btn-sm btn-block mb-3 sign_in", class: "w-75 btn text-white mb-2", style: "background-color: #5F1D35", method: :post %>
          </div>
        </div>
        <!-- メールアドレス -->
        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :メールアドレス, class: "mt-3 mr-5" %>
          </div>
          <div class="col-sm-8">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-2 mx-5", placeholder: "xxxxxxxxx@xxxx.xxxx" %>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <%= f.label :パスワード, class: "mr-5" %>
            </div>
            <div class="col-sm-8">
              <%= f.password_field :password, autocomplete: "current-password", class: "mb-2 mx-5" %>
            </div>


        <h5 class="text-danger">※注意※</h5>
        <h5 class="text-danger">不適切と判断される投稿が続く場合や悪質な利用と判断した場合、アカウントが削除されます。</h5>

        <div class="col-sm-12">
          &emsp;&emsp;&emsp;<%= f.submit "ログイン", class: "w-25 btn text-white mb-2", style: "background-color: #F5765F;" %>
        </div>
      <% end %>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <h6 class="mt-5 text-left" style="text-decoration: underline; text-decoration-color: #CD0000;">会員登録がお済みでない方</h6>
              <p class="text-black text-left" style="text-decoration: underline; text-decoration-color: #CD0000;">&emsp;&emsp;<%= link_to "こちら", new_user_registration_path, style: "color: black; background-color: #B57874;" %> から新規登録を行ってください。</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>