<!--登録した画像表示-->
<div><%= image_tag user.get_profile_image, size: '100x100' %></div>
<!--ニックネーム-->
<h6>ニックネーム</h6>
<h4 style="color: #F01FC3; font-weight: bold; text-decoration: underline;"><%= user.nickname %></h4>
<!--自己紹介文表示-->
<div><%= user.introduction %></div>


<!--各一覧を押下すると表示される-->

<% if current_user %>
  <h5>フォロー: <%= link_to current_user.followings.size, followings_user_path(current_user) %></h5>
  <h5>フォロワー: <%= link_to current_user.followers.size, followers_user_path(current_user) %></h5>
  <!--<h5>いいね <%#= link_to "#{user.music_post_favorites.si}", user_music_post_favorites_path(user) %></h5>-->
<% end %>
