<!--二胡の情報を入力されていたならば-->
<div container>
  <%= form_with model: music_post, local: true do |f| %>
    <%= render 'layouts/error_messages', obj: music_post %>
    <div class="row">
      <div class="col">
        <%= f.text_field :title, class: 'form-control title', placeholder: "タイトル" %>
        <%= f.file_field :i, class: "form-control-file get_niko_image", accept: 'image/*' %>
      </div>
      <div class="col-8">
        <%= f.text_area :body, class: 'form-control body', placeholder: "音楽共有投稿文" %>
      </div>

      <div class="col-1 d-flex align-items-end">
        <%= f.submit '投稿', class: 'btn btn-success' %>
      </div>
    </div><!--row end-->
  <% end %>
</div><!--container mt-3 end -->
