<div class="container">
  <div class="row">
    <div class="col text-left">
      <h2>会員情報編集</h2>
    </div>
    <div class="col text-left">
      <h2>My二胡の情報編集　<button id="toggle-form"><i class="fas fa-plus"></i></button></h2>
      <!-- ボタン -->
    </div>
  </div>

  <div class="row">
    <%= form_with model: @user, url: user_path(@user), local: true do |f| %>
      <%= render "layouts/error_messages", obj: @user %>
    <div class="col">
      <div class="row">
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: "image/*" %>
      </div>

      <div class="row mt-3">
        <div class="col text-left">
          <%= f.label :ニックネーム %>
        </div>
        <div class="col">
          <%= f.text_field :nickname, class: "form-control nickname mb-2 mx-5" %>
        </div>
      </div>

      <div class="row">
        <div class="col text-left">
          <%= f.label :自己紹介文 %>
        </div>
        <div class="col">
          <%= f.text_area :introduction, class: "form-control introduction mb-2 mx-5" %>
        </div>
      </div>

      <!--ゲストログインである限りメールアドレス変更フォームは表示されない-->
      <% unless @user.guest_user? %>
      <div class="row">
        <div class="col text-left">
          <%= f.label :メールアドレス %>
        </div>
        <div class="col">
          <%= f.text_area :email, class: "form-control introduction mb-2 mx-5" %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col my-3 text-left">
          <%= link_to "戻る", user_path(@user.id), class: "btn btn-outline-secondary mb-,2 mx-5" %>
        </div>
        <div class="col my-3 text-right">
          <%= f.submit "変更を保存", class: "btn btn-outline-secondary mb-,2 mx-5" %>
        </div>
      </div>

      <div class="row">
        <div class="col my-5 text-center">
          <%= link_to "退会する", confirm_user_path(@user), class: "btn btn-danger mb-2 mx-5" %>
        </div>
      </div>

    </div><!-- col end -->
    <% end %><!-- form end -->

    <div class="col-sm-12 col-lg-6">
      <% @user.nikos.each do |niko| %>
        <%= render partial: "public/users/niko_form", locals: { user: @user, niko: niko } %>
      <% end %>
      
      <div id="form-container" style="display: none;">
        <%= render partial: "public/users/niko_form", locals: { user: @user, niko: @niko } %>
      </div>
    </div><!-- col end -->
    
  </div><!-- row end -->
</div><!-- container end -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var formContainer = document.getElementById("form-container");
    var toggleButton = document.getElementById("toggle-form");

    toggleButton.addEventListener("click", function() {
      if (formContainer.style.display === "none") {
        formContainer.style.display = "block";
      } else {
        formContainer.style.display = "none";
      }
    });
  });
</script>
