<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <h2>会員情報編集</h2>
      <%= form_with model: @user, url: user_path(@user), local: true do |f| %>
        <%= render "layouts/error_messages", obj: @user %>
        <div class="form-group">
          <%= f.label :登録画像 %>
          <%= f.file_field :profile_image, class: "form-control-file user_image", accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :ニックネーム %>
          <%= f.text_field :nickname, class: "form-control nickname", class: "mb-2 mx-5" %>
        </div>
        <div class="form-group">
          <%= f.label :自己紹介文 %>
          <%= f.text_area :introduction, class: "form-control introduction", class: "mb-2 mx-5" %>
        </div>
        <!--ゲストログインである限りメールアドレス変更フォームは表示されない-->
        <% unless @user.guest_user? %>
          <div class="form-group">
            <%= f.label :メールアドレス %>
            <%= f.text_area :email, class: "form-control introduction", class: "mb-2 mx-5" %>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.submit "変更を保存", class: "btn btn-outline-secondary mb-,2 mx-5" %>
          <%= link_to "退会する", confirm_user_path(@user), class: "btn btn-danger mb-2 mx-5" %>
        </div>
      <% end %><!-- form end -->
    </div><!-- col end -->
    <div class="col-sm-12 col-lg-6">
      <h2>My二胡の情報編集</h2>
      <!-- ボタン -->
      <div class="col-sm-10 px-sm-0 text-right mb-2">
        <button id="toggle-form"><i class="fas fa-plus"></i></button>
      </div>
      <% @user.nikos.each do |niko| %>
        <%= render partial: "public/users/niko_form", locals: { user: @user, niko: niko } %>
      <% end %>
      <div id="form-container" style="display: none;">
        <%= render partial: "public/users/niko_form", locals: { user: @user, niko: @niko } %>
      </div>
    </div><!-- col end -->
  </div><!-- row end -->
</div><!-- container end -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var formContainer = document.getElementById("form-container");
    var toggleButton = document.getElementById("toggle-form");

    toggleButton.addEventListener("click", function() {
      if (formContainer.style.display === "none") {
        formContainer.style.display = "block";
      } else {
        formContainer.style.display = "none";
      }
    });
  });
</script>
