<div class='container-fluid'>
  <div class='row'>
    <div class="col-3">

      <div class='row'>
        <%= render 'info', user: @user %>
      </div>

      <!--二胡の情報を表示させる-->
      <% if @favorite_niko.present? %>
      <div class="row my-2">
        <h4 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">My二胡</h4>
      </div>

      <div class="row">
        <div class="col">
          <%= image_tag @favorite_niko.get_niko_image, size: '100x100' %>
        </div>
      </div>

        <% if @favorite_niko.name.present? %>
        <div class="row">
          <div class="col">
            <h6 class="text-left mt-1">名前</h6>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <h4 class="text-center"> <%= @favorite_niko.name %></h4>
          </div>
        </div>
        <% end %>

      <div class="row">
        <div class="col">
          <h6 class="text-left">使用材木</h6>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-center"><%= @favorite_niko.tree_type_i18n %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h6 class="text-left mt-1">特徴</h6>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h6 class="text-left"><%= @favorite_niko.feature %></h6>
        </div>
      </div>

      <% else %>
        <!--二胡の情報が無かったら-->
      <div class="row mt-3 mx-2">
        <h2 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">新規投稿</h2>
      </div>

      <!--音楽共有の投稿フォーム-->
      <div class="row">
        <div class="col">
          <%= render 'public/music_posts/form', music_post: @music_post || MusicPost.new %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-9 offset">
      <!--二胡の投稿があったならば投稿ファームを表示させる-->
    <% if @favorite_niko.present? %>
      <%= form_with model: @music_post, local: true do |f| %>
      <%= render 'layouts/error_messages', obj: @music_post %>
      <div class="row">
        <h6 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">新規投稿</h6>
      </div>

      <div class="row">
        <div class="col-4 text-left">
          <%= f.text_field :title, class: 'form-control title', placeholder: "タイトル" %>
          <div class="w-100 text-left">
            <%= f.file_field :image, accept: 'image/*' %>
          </div>
        </div>

        <div class="col text-left">
          <%= f.text_area :body, class: 'form-control body', placeholder: "投稿文" %>
        </div>

        <div class="col-2 d-flex align-items-end">
          <%= f.submit '投稿', class: 'btn btn-success' %>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
