<div class='container-fluid my-4'>
  <div class='row mt-4'>
    <div class="col-3">
      <%= render 'info', user: @user %>

      <!-- 二胡の情報を表示させる -->
      <% if @favorite_niko.present? %>
      <div class="row my-2 ml-2">
        <h4 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">My二胡</h4>
      </div>

      <div class="row">
        <div class="col">
          <%= image_tag @favorite_niko.get_niko_image, size: '100x100' %>
        </div>
      </div>
      <hr/>
      <% if @favorite_niko.name.present? %>
      <div class="row">
        <div class="col">
          <h6 class="text-left mt-1">名前</h6>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-center"> <%= @favorite_niko.name %></h4>
        </div>
      </div>
      <hr/>
      <% end %>

      <div class="row">
        <div class="col">
          <h6 class="text-left">使用材木</h6>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h4 class="text-center"><%= @favorite_niko.tree_type_i18n %></h4>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col">
          <h6 class="text-left mt-1">特徴</h6>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h6 class="text-left"><%= @favorite_niko.feature %></h6>
        </div>
      </div>
      <hr/>
      <% else %>
      <!-- 二胡の情報が無かったら -->
      <div class="row mt-3 mx-2">
        <h2 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">新規投稿</h2>
      </div>

      <!-- 音楽共有の投稿フォーム -->
      <div class="row mb-5">
        <div class="col">
          <%= render 'public/music_posts/form', { music_post: @music_post || MusicPost.new, change_redirect_path: false } %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col offset">
      <div style="max-width: 800px; margin: auto;">
        <!-- 二胡の投稿があったならば投稿フォームを表示させる -->
        <% if @favorite_niko.present? %>
        <%= form_with model: @new_music_post, local: true do |f| %>
        <%= render 'layouts/error_messages', obj: @new_music_post %>
        <div class="row">
          <h6 style="border-bottom: 2px solid #F07C81; color: #000000; font-size: 24px; font-weight: bold;">新規投稿</h6>
        </div>

        <div class="row">
          <div class="col-4 text-left">
            <%= f.text_field :title, class: 'form-control title', placeholder: "タイトル" %>
            <div class="w-100 text-left">
              <%= f.file_field :image, accept: 'image/*' %>
            </div>
          </div>

          <div class="col text-left">
            <%= f.text_area :body, class: 'form-control body', placeholder: "投稿文" %>
          </div>

          <div class="col-2 d-flex align-items-end">
            <%= f.submit '投稿', class: 'btn btn-success' %>
          </div>
        </div>
        <% end %>
        <% end %>


        <!--投稿した音楽共有-->
        <% @music_posts.each do |music_post| %>
        <div class="my-4 custom-table-striped shadow-lg p-3">
          <div class="row  mt-3 mb-1 ml-3">
            <div class="col">
              <div class="d-flex flex-row-reverse">
                <% if music_post.present? %>
                <!--お気に入りボタン表示-->
                <div class="col-2 text-right">
                  <div id="favorite_btn_<%= music_post.id %>">
                    <%= render partial: 'public/favorites/btn', locals: { current_user: current_user, music_post: music_post } %>
                  </div>
                </div>
                <% end %>
                <div class="col-2 text-right">
                  <!--コメント数を表示-->
                  <div id="comment_counter">
                    <%= render partial: "public/music_post_comments/counter", locals: { music_post: music_post } %>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <%= link_to music_post.title, music_post_path(music_post.id), style: "color: black;" %>
              </div>
              <hr/>
              <div class="text-left mb-3">
                <%= music_post.body %>
              </div>
              <hr/>
              <div class="row my-3 ml-auto">
                <div class="col-7 text-right">
                  <!--画像-->
                  <%= image_tag music_post.get_music_post_image, size: '250x250' %>
                </div>
                <div class="col-3 d-flex text-right align-items-end" style="flex-wrap: nowrap;" >
                  <small class="ml-auto"><%= music_post.created_at.strftime('%Y/%m/%d %H:%M') %></small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>